body {
    background-color: beige;
}


#box{
    width: 200px;
    height: 150px;
    border: 1px solid black;
    allign: left;
    text-align: center;
    background-color: lightgray;
    position: absolute;

}

#player {
    text-align: left;
    font-weight: bold;
    position: relative;
    top: 175px;
}


#board{
    width: 640px;
    margin: auto;
    align : center;
    position: relative;
    top: 0;

}

#buttons{
    text-align: left;
    position: relative;
    top: 200px;
}

#startBtn{
    text-align: center;
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 4px;
    border: 2px solid lightskyblue;
    background-color: lightskyblue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#startBtn:hover{
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#startBtn:active{
    background-color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);

}

#clearBtn{
    text-align: center;
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 4px;
    border: 2px solid lightskyblue;
    background-color: lightskyblue;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#clearBtn:hover{
    background-color: lightskyblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#clearBtn:active{
    background-color: lightskyblue;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(4px);
}
